:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  /* transition: border-color 0.25s; */
  height: 3em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: auto;
  border: 2px solid transparent;
  opacity: 0.4;
}

.accent-button {
  background-color: #ffc90f;
  color: #000000;
  border: 2px solid transparent;
}
.accent-button:hover {
  border-color: #ffffff;
  /** Glow: */
  /* box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5); */
}
.accent-button:disabled {
  cursor: auto;
  border: 2px solid transparent;
  opacity: 0.4;
}

.start-button {
  font-size: x-large;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.miniscrollbar {
  scrollbar-gutter: stable;
  padding-right: 8px;
}

.miniscrollbar::-webkit-scrollbar {
  width: 8px;
}
.miniscrollbar::-webkit-scrollbar-track {
  background: 0 0;
}
.miniscrollbar::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 4px;
}
.miniscrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}
.miniscrollbar-light::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.deck-box {
  /* Sets base color. Can be adjusted in React */
  background-color: #181d29;
  /* Gradient reflection: */
  background-image: linear-gradient(to bottom,
                  rgba(255, 255, 255, 0.14) 30%,
                  rgba(255, 255, 255, 0) 60%);
  /* background-image: linear-gradient(to bottom, #2f3842 30%, #111827 60%); */
  /* Drop-shadow: */
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.4),
              /* Highlight on top: */
              inset 0px 3px 1px -1px rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 0.5em 0.8em;
  width: 10em;
  height: 14em;
  cursor: pointer;
}
.deck-box.selected {
  /* border-color: #fff;
  border-radius: 2px; */
  outline: 3px solid;
  outline-color: #fff;
}
.deck-box.hoverable-card:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4),
              /* Highlight on top: */
              inset 0px 3px 1px -1px rgba(255, 255, 255, 0.3);
}

.new-lobby-screen {
  background-image: linear-gradient(to bottom, #494f5c, #858792);
}
.new-lobby-sidebar {
  background-color: rgba(0, 0, 0, 0.4);
}

.game-screen {
  background-color: #999;
  background-image: linear-gradient(to bottom,#111827cc,#374151cc);
}
.game-card {
  color: #000;
  background-color: #fff;
  /* Drop-shadow: */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 0.75em 1em;
  width: 10rem;
  height: 14rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.game-card.hoverable-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.game-card.card-prompt {
  background-image: linear-gradient(to bottom,#141820,#2d3441);
  color: #fff;
}
.game-card.card-response {
  background-color: #fff;
  color: #000;
}
.game-card.card-response.selected {
  color: #d45f00;
  background-image: linear-gradient(to bottom,#ffc90f66,#fff);
  box-shadow: 0px 0px 20px 4px #d45f00cc;
  transform: scaleX(1.05) scaleY(1.05);
}
.selected-response-index {
  color: #ffc90fcc;
  font-size: 5rem;
  font-weight: bold;
  align-content: center;
  justify-content: center;
}

.hoverable-card {
  transition-property: transform, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.hoverable-card:hover {
  transform: scaleX(1.05) scaleY(1.05);
}
