:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: rgba(229, 231, 235);
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
  color: #fff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

i {
  /* For highlighted words: */
  color: #ffc90f;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  margin-bottom: 1.5rem;
}
pre {
  background-color: #32373b;
  padding: 0.5em;
  border-radius: 0.25em;
}

.star-icon {
  color: #ffc90f;
  margin-top: -0.2em;
}

.modal-backdrop {
  color: #000;
  opacity: 0.6;
}


/*------------------------- Button component ------------------------*/

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  /* transition: border-color 0.25s; */
  height: 3rem;
}
button:hover {
  border-color: #8BB9F9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: auto;
  border: 2px solid transparent;
  opacity: 0.4;
}

button.accent-button {
  background-color: #ffc90f;
  color: #000000;
  border: 2px solid transparent;
}
button.accent-button:hover {
  border-color: #ffffff;
  /** Glow: */
  /* box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5); */
}
button.accent-button:disabled {
  cursor: auto;
  border: 2px solid transparent;
  opacity: 0.4;
}

button.light-button {
  background-color: #374151;
}

button.secondary-button, button.secondary-button:hover:disabled {
  border: 2px solid;
  color: rgba(229, 231, 235, 0.8);
  border-color: rgba(229, 231, 235, 0.4);
  background-color: rgba(229, 231, 235, 0);
}
button.secondary-button:hover {
  border: 2px solid transparent;
  background-color: rgba(229, 231, 235, 0.6);
  color: #000;
}

button.small-button {
  font-size: small;
  height: 2.5rem;
}

button.start-button {
  font-size: large;
  font-weight: bold;
}


/*------------------------ Scrollbar component -----------------------*/

.miniscrollbar {
  scrollbar-gutter: stable;
}
.miniscrollbar-auto {
  scrollbar-gutter: auto;
}

.miniscrollbar::-webkit-scrollbar {
  width: 8px;
}
.miniscrollbar::-webkit-scrollbar-track {
  background: 0 0;
}
.miniscrollbar::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 4px;
}
.miniscrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}
.miniscrollbar-light::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

/*=========================== Lobby screen ===========================*/

.deck-row {
  height: 3rem;
  cursor: pointer;
  background-color: #11182733;
}
.deck-row.readonly {
  cursor: default;
}
.deck-row.selected {
  color: #fff;
  background-color: #11182788;
}
.deck-row-title {
  font-weight: 600;
}
.deck-row-title.unselected {
  opacity: 0.6;
}
.deck-row.unselected .checkbox {
  border-color: #ffffffaa;
}
.deck-row.editable.unselected:hover .checkbox label::after {
  opacity: 0.4;
}
.deck-selector table {
  /* border collapse is needed for sticky header */
  border-collapse: separate;
  border-spacing: 0;
}
.deck-row td {
  padding: 0 0.5em;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* border must be set on td due to border collapse behavior */
  border-bottom: 2px solid rgba(222, 226, 230, 0.25);
}
.deck-row td:first-child {
  padding-left: 1em;
}
.deck-selector th {
  padding-bottom: 0.5em;
  font-weight: 400;
  color: rgba(222, 226, 230, 0.6);
  border-bottom: 2px solid rgba(222, 226, 230, 0.25);
  /* Sticky header: */
  position: sticky;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, #494f5c, #858792);
  z-index: 1;
  top: 0;
}
.deck-totals-row {
  height: 3rem;
}
.deck-total-label {
  color: rgba(222, 226, 230, 0.6);
}
.deck-total-value {
  padding: 0 0.5em;
  color: #fff;
  font-weight: 500;
}

.new-lobby-screen {
  background-image: linear-gradient(to bottom, #494f5c, #858792);
}
.new-lobby-sidebar {
  /* position needs to be set to put drop shadow in front of sticky table header */
  position: relative;
  z-index: 2;
  background-image: linear-gradient(to bottom, #2c3037, #505157);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
.small-player-count {
  font-weight: 600;
  margin: 0.3em;
}

/*=========================== Game screens ===========================*/

.game-bg {
  position: fixed; /* Not affected by scrolling or layout */
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.game-bg.phase-reading {
  opacity: 0.8;
  background-image: linear-gradient(to bottom,
    #000 0%,#37415100 48%, #37415100 52%, #000 100%);
}
.game-bg.phase-complete {
  opacity: 1;
  background-image: linear-gradient(to bottom,
  #030711 0%,#324464 48%, #324464 52%, #111827 100%);
}

.scoreboard-screen {
  background-image: linear-gradient(to bottom,
  #030711 0%,#324464 100%);
}

.welcome-screen {
  background-image: linear-gradient(to bottom, #111827, #374151);
}
.welcome-screen h1 {
  margin-bottom: 1em;
  text-align: center;
}
.login-card {
  padding: 1em;
  border-radius: 0.735rem;
  /* background-color: rgba(20, 20, 20, 0.4); */
  /* background-image: linear-gradient(to bottom, #494f5c66, #85879266); */
  /* background-color: #494f5c99; */
  background-color: #2f3542;
  /* border: 1px solid; */
  border-color: #374151;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  min-width: 16em;
  min-height: 11em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------------------- Player screen with cards --------------------*/

.player-answering-container {
  gap: 1em;
}

.game-screen {
  position: relative;
  z-index: 0;
  background-color: #999;
  background-image: linear-gradient(to bottom,#111827cc,#374151cc);
}

/* Make sure the control row stays on the screen when you scroll down: */
.game-mid-row {
  position: sticky;
  top: 0;
  background-color: #999;
  background-image: linear-gradient(to bottom,#111827cc,#374151cc);
  background-attachment: fixed;
  z-index: 100;
  padding: 0.5em 0;
}

.game-card {
  color: #000;
  background-color: #fff;
  /* Drop-shadow: */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 0.75em 1em;
  width: 10rem;
  height: 14rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.game-card.hoverable-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.game-card.locked-card.unselected {
  opacity: 0.6;
}
.game-card.card-prompt {
  background-image: linear-gradient(to bottom,#141820,#2d3441);
  color: #fff;
}
.game-card.card-response {
  background-color: #fff;
  color: #000;
}
.game-card.card-response.selected,
.game-card.response-reading.selected {
  color: #d45f00;
  background-image: linear-gradient(to bottom,#ffc90f66,#fff);
  box-shadow: 0px 0px 20px 4px #d45f00cc;
  transform: scaleX(1.05) scaleY(1.05);
}
.selected-response-index {
  color: #ffc90fcc;
  font-size: 5rem;
  font-weight: bold;
  align-content: center;
  justify-content: center;
}
.prompt-unknown-icon {
  color: rgba(229, 231, 235, 0.4);
  font-size: 5rem;
}

/*--------------------- Screen for reading responses --------------------*/

.game-card.card-response.response-reading.can-reveal.unrevealed:hover {
  opacity: 1;
  cursor: pointer;
}
.game-card.card-response.response-reading.unrevealed {
  opacity: 0.6;
}
.reading-unrevealed-icon {
  color: #111827cc;
  font-size: 5rem;
}
.game-card.selectable {
  cursor: pointer;
}
.prompt-czar-name {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.75rem;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 9pt;
  /* font-size: small; */
  text-align: center;
  color: #fff;
}

.hoverable-card {
  transition-property: transform, box-shadow, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.hoverable-card:hover {
  transform: scaleX(1.03) scaleY(1.03);
}

.dim {
  /* Dimmed slightly to not attract too much attention*/
  opacity: 0.8;
}
.dimmer {
  /* Dimmed slightly to not attract too much attention*/
  opacity: 0.6;
}
.light {
  font-size: 0.9rem;
  font-weight: 200;
}

.extra-dim {
  opacity: 50%;
  font-size: 0.9rem;
  font-weight: 200;
}

.game-minicard {
  width: 5rem;
  height: 7rem;
  border-radius: 0.5rem;
}
.game-minicard.ready {
  color: #181d29;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}
.game-minicard.ready.multiple {
  box-shadow: inset -5px -1px 0 #aaaaaa;
}
.game-minicard.notready {
  border: 5px dashed;
  border-color: rgba(229, 231, 235);
  color: rgba(229, 231, 235);
  opacity: 0.2;
}
.minicard-player-name {
  width: 5rem;
  padding: 0.75rem 0.3rem;
  justify-content: center;
  align-items: center;
  font-size: 9pt;
  color: #fff;
}
.game-minicard > .ready-icon {
  font-size: 3rem;
  user-select: none;
}

.response-count-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
}
.response-count-header {
  font-size: smaller;
  opacity: 0.6;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}
.response-count-group {
  font-size: 3rem;
  font-weight: 600;
}
.response-count-group .count-current {
  opacity: 0.6;
}
.response-count-group .slash {
  opacity: 0.3;
  font-weight: 400;
}
.response-count-group .count-total {
  opacity: 0.3;
}


.game-card-placeholder {
  /* Maintains card size, but doesn't display anything */
  width: 10rem;
  height: 14rem;
}
.many-cards > .game-card {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}
.game-card.overlaid {
  margin-top: -114%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.many-cards:hover > .game-card.overlaid {
  z-index: 10;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  margin-top: -80%;
}

.downvote-card-icon {
  color: rgb(185, 28, 28);
  opacity: 0.1;
}
.game-card.downvoted .downvote-card-icon {
  opacity: 0.9;
}
.downvote-card-icon:hover {
  opacity: 0.5;
}
.game-card.downvoted .downvote-card-icon:hover {
  opacity: 1;
}
.game-card.locked-card .downvote-card-icon {
  opacity: 0.1;
}
.game-card.locked-card.downvoted .downvote-card-icon {
  opacity: 1;
}

/*--------------------- Discarding response cards -----------------*/

.card-discard-icon {
  color: #36332f;
  font-size: 5rem;
  opacity: 0.1;
}
.card-response.discarding.hoverable-card:hover .card-discard-icon {
  opacity: 0.4;
}
.card-response.discarding.hoverable-card:hover {
  opacity: 1;
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.card-response.unselected.discarded {
  background-color: #bbb;
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.card-response.discarded .card-discard-icon {
  opacity: 0.9;
}
.card-response.discarded.hoverable-card:hover .card-discard-icon {
  opacity: 0.9;
}
.card-response.discarded.hoverable-card:hover {
  background-color: #ccc;
  box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

/*--------------------- Scoreboard on the final screen -----------------*/

.scoreboard-screen h2 {
  text-align: center;
  opacity: 0.8;
}
.scoreboard-table td, .scoreboard-table th {
  background-color: rgba(0, 0, 0, 0);
}
.scoreboard-screen .scoreboard-table {
  min-width: 15em;
  width: auto;
  margin-top: 1em;
}
.scoreboard-screen .scoreboard-table .sb-col-score {
  /* width: 20%; */
  width: 70px;
  white-space: nowrap;
}
.scoreboard-screen .scoreboard-table tr:first-child td {
  border-top-width: 1px;
  border-top-style: solid;
}

/*--------------------- Scoreboard in game menu -----------------*/

.score-menu-icon {
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  border-radius: 0.2rem;
}
.score-menu-icon:hover {
  background-color: rgba(229, 231, 235, 0.2);
}

.menu-scoreboard .scoreboard-table {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0.75em;
  margin-right: 0.5em;
}
.menu-scoreboard .scoreboard-table .sb-col-score {
  width: 20%;
  white-space: nowrap;
}
.menu-scoreboard .sb-col-name {
  white-space: nowrap;
  max-width: 15rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.menu-scoreboard tr:last-child td {
  border-style: none;
}

/*------------------------------- Game menu ----------------------------*/

.game-menu-icon {
  opacity: 0.5;
}
.game-menu-icon:hover {
  opacity: 1;
}
.menu-turn-ordinal {
  opacity: 0.4;
}

/*======================= Mobile =======================*/

@media (max-width: 25rem) {
  .player-answering-container {
    gap: 0;
  }
  .player-answering-container .game-card.card-response {
    width: 100%;
    height: auto;
    min-height: 4em;
  }
  .selected-response-index {
    font-size: 3.5rem;
  }
  .reading-control-row {
    position: sticky;
    margin-top: 0;
    top: 0;
    z-index: 100;
    padding-top: 1em;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,
      /* TODO: this only roughly matches the actual gradient.*/
      #090a0d, #3d434e, #090a0d
    );
  }
  .reading-control-row button {
    height: 2.5em;
  }
  .winner-control-row {
    position: sticky;
    bottom: 0;
    z-index: 2;
    padding: 0.5em;
    height: auto !important;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom,
      /* Matches .game-bg.phase-complete */
    #030711 0%,#324464 48%, #324464 52%, #111827 100%);
  }
  .winner-control-row button {
    height: 2.5em;
  }
  .reading-layout-container {
    width: 100%;
    padding: 1em;
  }
  .reading-main-row {
    flex-direction: column !important;
    align-content: center;
    width: 100%;
  }
  .reading-main-row .card-prompt {
    margin: auto;
  }
  .reading-main-row .game-card-placeholder,
  .reading-main-row .game-card.card-response,
  .reading-main-row .many-cards {
    width: 100%;
    height: auto;
    min-height: 4em;
  }
  .reading-main-row .game-card.overlaid {
    margin-top: -0.5rem;
  }
  .reading-main-row .many-cards:hover > .game-card.overlaid {
    margin-top: -0.5rem;
  }
  .reading-main-row .reading-unrevealed-icon {
    font-size: 2.5rem;
    font-weight: 700;
  }
}