:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: rgba(229, 231, 235);
  text-decoration: inherit;
}
a:hover {
  /* color: #535bf2; */
  color: #fff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

i {
  /* For highlighted words: */
  color: #ffc90f;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  margin-bottom: 1.5rem;
}
.dim {
  /* Dimmed slightly to not attract too much attention*/
  opacity: 0.8;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  /* transition: border-color 0.25s; */
  height: 3em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  cursor: auto;
  border: 2px solid transparent;
  opacity: 0.4;
}

.accent-button {
  background-color: #ffc90f;
  color: #000000;
  border: 2px solid transparent;
}
.accent-button:hover {
  border-color: #ffffff;
  /** Glow: */
  /* box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5); */
}
.accent-button:disabled {
  cursor: auto;
  border: 2px solid transparent;
  opacity: 0.4;
}

.secondary-button {
  border: 2px solid;
  color: rgba(229, 231, 235, 0.8);
  border-color: rgba(229, 231, 235, 0.4);
  background-color: rgba(229, 231, 235, 0);
}
.secondary-button:hover {
  border: 2px solid transparent;
  background-color: rgba(229, 231, 235, 0.6);
  color: #000;
}

.start-button {
  font-size: x-large;
  font-weight: bold;
}

.miniscrollbar {
  scrollbar-gutter: stable;
  padding-right: 8px;
}

.miniscrollbar::-webkit-scrollbar {
  width: 8px;
}
.miniscrollbar::-webkit-scrollbar-track {
  background: 0 0;
}
.miniscrollbar::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 4px;
}
.miniscrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}
.miniscrollbar-light::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

.deck-box {
  /* Sets base color. Can be adjusted in React */
  background-color: #181d29;
  /* Gradient reflection: */
  background-image: linear-gradient(to bottom,
                  rgba(255, 255, 255, 0.14) 30%,
                  rgba(255, 255, 255, 0) 60%);
  /* background-image: linear-gradient(to bottom, #2f3842 30%, #111827 60%); */
  /* Drop-shadow: */
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.4),
              /* Highlight on top: */
              inset 0px 3px 1px -1px rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  padding: 0.5em 0.8em;
  width: 10em;
  height: 14em;
  cursor: pointer;
}
.deck-box.selected {
  /* border-color: #fff;
  border-radius: 2px; */
  outline: 3px solid;
  outline-color: #fff;
}
.deck-box.hoverable-card:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4),
              /* Highlight on top: */
              inset 0px 3px 1px -1px rgba(255, 255, 255, 0.3);
}

.new-lobby-screen {
  background-image: linear-gradient(to bottom, #494f5c, #858792);
}
.new-lobby-sidebar {
  background-color: rgba(0, 0, 0, 0.4);
}

.game-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.game-bg.phase-reading {
  opacity: 0.8;
  background-image: linear-gradient(to bottom,
    #000 0%,#37415100 48%, #37415100 52%, #000 100%);
}

.game-screen {
  position: relative;
  z-index: 0;
  background-color: #999;
  background-image: linear-gradient(to bottom,#111827cc,#374151cc);
}
.game-card {
  color: #000;
  background-color: #fff;
  /* Drop-shadow: */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding: 0.75em 1em;
  width: 10rem;
  height: 14rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.game-card.hoverable-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.game-card.locked-card.unselected {
  opacity: 0.6;
}
.game-card.card-prompt {
  background-image: linear-gradient(to bottom,#141820,#2d3441);
  color: #fff;
}
.game-card.card-response {
  background-color: #fff;
  color: #000;
}
.game-card.card-response.selected,
.game-card.response-reading.selected {
  color: #d45f00;
  background-image: linear-gradient(to bottom,#ffc90f66,#fff);
  box-shadow: 0px 0px 20px 4px #d45f00cc;
  transform: scaleX(1.05) scaleY(1.05);
}
.selected-response-index {
  color: #ffc90fcc;
  font-size: 5rem;
  font-weight: bold;
  align-content: center;
  justify-content: center;
}
.prompt-unknown-icon {
  color: rgba(229, 231, 235, 0.4);
  font-size: 5rem;
  align-content: center;
  justify-content: center;
}
.game-card.card-response.response-reading.can-reveal.unrevealed:hover {
  opacity: 1;
  cursor: pointer;
}
.game-card.card-response.response-reading.unrevealed {
  opacity: 0.6;
}
.reading-unrevealed-icon {
  color: #111827cc;
  font-size: 5rem;
  align-content: center;
  justify-content: center;
}
.game-card.selectable {
  cursor: pointer;
}

.hoverable-card {
  transition-property: transform, box-shadow, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.hoverable-card:hover {
  transform: scaleX(1.03) scaleY(1.03);
}

.pre-submit-text {
  opacity: 50%;
  font-size: 0.9rem;
  font-weight: 200;
}

.game-minicard {
  width: 5rem;
  height: 7rem;
  border-radius: 0.5rem;
}
.game-minicard.ready {
  color: #181d29;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  opacity: 0.7;
}
.game-minicard.ready.multiple {
  box-shadow: inset -5px -1px 0 #aaaaaa;
}
.game-minicard.notready {
  border: 5px dashed;
  border-color: rgba(229, 231, 235);
  color: rgba(229, 231, 235);
  opacity: 0.2;
}
.minicard-player-name {
  width: 5rem;
  padding: 0.75rem 0.3rem;
  justify-content: center;
  align-items: center;
  font-size: 9pt;
  color: #fff;
}
.game-minicard > .ready-icon {
  font-size: 3rem;
}

.game-menu-icon {
  opacity: 0.5;
}
.game-menu-icon:hover {
  opacity: 1;
}

.stat-label {
  color: rgba(229, 231, 235, 0.7);
}
.stat-value {
  color: #fff;
  font-weight: 500;
}

.game-card-placeholder {
  /* Maintains card size, but doesn't display anything */
  width: 10rem;
  height: 14rem;
}
.many-cards > .game-card {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}
.game-card.overlaid {
  margin-top: -120%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}
.many-cards:hover > .game-card.overlaid {
  z-index: 10;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  margin-top: -80%;
}