rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function userIsAdmin() {
      let user = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return user != null && user.data.is_admin == true;
    }
  	match /decks/{document=**} {
    	allow read;
      allow write: if userIsAdmin();
    }
  	match /lobbies/{document=**} {
    	allow read;
    }
    match /{path=**}/players/{document} {
    	allow read: if request.auth != null;
    }
    match /users/{document} {
      // allow reading only your own info when you are logged in:
      allow read: if request.auth != null
                  && request.auth.uid == document;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}