@use '../colors.scss';

.stats-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  .stats-summary {
    color: colors.$text;
    font-size: 0.9rem;
  }
}

.user-stats {
  width: max-content;

  .stats-table {
    border-collapse: collapse;
    // border-spacing: 0 2px;
    // background-color: rgba(255, 255, 255, 0.05);

    thead {
      tr {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: var(--bs-body-bg); // bg color
      }

      th {
        padding: 0.75rem 1rem;
        text-align: left;
        font-weight: 200;
        color: rgba(colors.$text, 70%);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        white-space: normal;

        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 5;
          background-color: inherit;
        }
        &:nth-child(2) {
          position: sticky;
          left: 50px;
          z-index: 5;
          background-color: inherit;
        }
      }
    }

    tbody {
      tr {
        background-color: colors.$panel-bg;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        &.selected {
          background-color: colors.$accent;
          &:hover {
            background-color: color-mix(
              in srgb,
              colors.$accent 80%,
              colors.$panel-bg
            );
          }
        }

        &:hover:not(.selected) {
          background-color: colors.$button-light-bg;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      td {
        padding: 0.25rem 0.5rem;
        max-width: 300px;

        &.control-cell .group {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        &.player-name {
          max-width: 250px;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-weight: 500;
          color: colors.$text;

          .avatar-icon {
            font-size: 1.2rem;
          }
        }

        &:nth-child(1) {
          position: sticky;
          left: 0;
          z-index: 5;
          background-color: inherit;
        }
        &:nth-child(2) {
          position: sticky;
          left: 50px;
          z-index: 5;
          background-color: inherit;
        }
      }

      .col-counter {
        // width: 5%;
        font-variant-numeric: tabular-nums;
        text-align: right;
        &.empty {
          color: rgba(colors.$text, 0.4);
        }
      }

      .col-date {
        font-family: monospace;
        text-align: center;
      }
    }
  }
}
