// Answer stacks smoothly flowing down on the end-game screen.
.answer-showcase {
  animation: fade-in 1s, rain-down 20s linear forwards;
  position: fixed;

  // Disable animation for cards inside the stack:
  .many-cards,
  .many-cards .game-card {
    transition: none;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }

  @keyframes rain-down {
    from {
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(calc(1700px - 200%));
    }
  }
}
