@use '../colors.scss';

.timer-pie {
  width: 2rem;
  height: 2rem;
  color: colors.$text;

  // Center inside the round border:
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid currentColor;
  border-radius: 50%;

  // Reduce width to account for border:
  svg.pie-svg {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }

  &.running-out {
    color: colors.$accent;
  }
  &.last-call {
    color: colors.$burned-text;
    animation: shake 150ms 2 linear;
  }
}
.pie-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  .timer-countdown {
    position: absolute;
    color: colors.$button-text;
    font-weight: bolder;
    text-shadow: 1px 1px 2px colors.$bg-dark; 
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
