@use '../colors.scss';

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: colors.$timer-bg;
  border-radius: 2px;
  overflow: hidden;
  
  .bar {
    background-color: colors.$timer-bar;
    height: 100%;
    transition: width 0.3s ease-out;
  }
}
