@use "../colors.scss";

/*------------------------ Scrollbar component -----------------------*/

.miniscrollbar {
  scrollbar-gutter: stable;
  &.miniscrollbar-auto {
    scrollbar-gutter: auto;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: 0 0;
  }
  &::-webkit-scrollbar-thumb {
    background: colors.$bg-dark;
    border-radius: 4px;
  }
  &.miniscrollbar-dark::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
  }
  &.miniscrollbar-light::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
  }
}