@use "colors.scss";

.admin-subpage {
  display: flex;
  flex-direction: column;
  height: 100%;
  .admin-header {
    position: sticky;
    top: 0;
  }
}

.deck-header {
  width: 100%;
  display: flex;
  align-items: center;
  .deck-id {
    font-family: monospace;
    font-weight: 300;
    font-size: 13px;
    opacity: 0.5;
    margin-left: auto;
    width: 15em;
    margin-right: 1em;
  }
}

.admin-deck {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
  td {
    padding: 0 0.5em;
    font-size: 13px;
  }
  .col-card-id {
    width: 1%;
  }
  .col-card-pick {
    width: 1%;
  }
  .col-card-content {
    padding: 0.1em 0.5em;
    border-radius: 0.4em;
    display: flex;
    .prompt-pick-number {
      align-self: flex-end;
      margin-left: auto;
      margin-bottom: 0.1em;
      margin-right: -0.1em;
      flex-shrink: 0;
    }
  }
  .row-prompt .col-card-content {
    background-color: colors.$card-prompt-bg-dark;
    color: colors.$card-prompt-text;
  }
  .row-response .col-card-content {
    background-color: colors.$card-response-bg;
    color: colors.$card-response-text;
  }
  .card-row.editable {
    cursor: pointer;
    &:hover {
      background-color: colors.$button-light-bg;
      &.row-prompt .col-card-content {
        background-color: rgba(colors.$card-prompt-bg-dark, 0.3);
      }
      &.row-response .col-card-content {
        // background-color: rgba(colors.$button-border-hover, 0.3);
        background-color: rgba(colors.$card-response-bg, 0.7);
      }
      .col-card-content .card-content::after {
        content: '';
        display: inline-block;
        mask-image: url(../assets/icons/pencil.svg);
        mask-repeat: no-repeat;
        background-color: currentColor;
        opacity: 0.5;
        width: 12px;
        height: 12px;
        margin-left: 0.25em;
      }
      .col-card-content .card-content.emoji-only::after {
        width: 24px;
        height: 24px;
        margin: 6px;
      }
    }
  }
  .card-row.edited {
    background-color: colors.$accent;
    color: colors.$button-accent-text;
  }
}