@use "colors.scss";

.admin-subpage {
  display: flex;
  flex-direction: column;
  height: 100%;
  .admin-header {
    position: sticky;
    top: 0;
  }
}

.deck-header {
  width: 100%;
  display: flex;
  align-items: center;
  .deck-id {
    font-family: monospace;
    font-weight: 300;
    font-size: 13px;
    opacity: 0.5;
    margin-left: auto;
    width: 15em;
    margin-right: 1em;
  }
}

.admin-decks-toolbar {
  display: flex;
  h2 {
    margin-right: auto;
  }
}

.admin-deck-table {
  width: 100%;
  table-layout: fixed; // this is important for text ellipsis...
  border-collapse: separate;
  border-spacing: 0 2px;
  tr {
    font-size: 13px;
  }
  td {
    padding: 0 0.5em;
  }
  .col-card-id {
    width: 4em;
  }
  .col-card-pick {
    width: 1%;
  }
  .col-card-tags {
    width: 20%;
  }
  .col-card-content {
    // padding: 0.1em 0.5em;
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    .prompt-pick-number {
      align-self: flex-end;
      // not needed because the edit button is there:
      // margin-left: auto;
      margin-bottom: 0.1em;
      margin-right: -0.1em;
      flex-shrink: 0;
    }
  }
  .row-prompt .col-card-content {
    background-color: colors.$card-prompt-bg-dark;
    color: colors.$card-prompt-text;
  }
  .row-response .col-card-content {
    background-color: colors.$card-response-bg;
    color: colors.$card-response-text;
  }
  .card-row {
    cursor: pointer;
    &:hover,
    &.selected {
      background-color: colors.$button-light-bg;
      &.row-prompt .col-card-content {
        background-color: rgba(colors.$card-prompt-bg-dark, 0.5);
      }
      &.row-response .col-card-content {
        // background-color: rgba(colors.$button-border-hover, 0.3);
        background-color: rgba(colors.$card-response-bg, 0.7);
      }
    }
    &:hover .edit-button {
      display: block; // visible on hover
    }
  }
  .card-row.selected {
    background-color: colors.$accent;
    color: colors.$button-accent-text;
  }
  .card-content-admin-row {
    padding: 0 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
  .edit-button-container {
    margin-left: auto;
    height: 100%;
    .edit-button {
      display: none; // hidden by default
    }
  }
  .row-prompt .edit-button {
    @extend .light-button; // dark bg
  }
  .row-response .edit-button {
    @extend .lighter-button; // light bg
  }
}
.admin-deck-control-row {
  position: sticky;
  top: 3em; //TODO: import accordion height
  padding: 0.5em 0;
  margin-top: -0.5em; // combat accordion section padding
  background-color: var(--bs-body-bg); // bg color
  color: rgba(colors.$text, 70%);
  font-weight: 200;
  .col-card-id {
    .checkbox {
      margin: auto;
    }
  }
  .deck-count {
    margin-left: auto;
    .number {
      font-weight: 400;
    }
  }
}
