/*=========================== Game screens ===========================*/
@use "colors.scss";

.game-screen {
  position: relative;
  z-index: 0;
  background-color: colors.$game-bg-color;
  background-image: colors.$game-bg-image;
}

// This shows as a vignette during response reading:
.game-bg {
  // Not affected by scrolling or layout:
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.game-bg.phase-reading {
  // opacity: 0.8;
  // background-image: colors.$reading-vignette;
  opacity: 1;
  background-image: colors.$reading-vignette-merged;
}
.game-bg.phase-complete {
  opacity: 1;
  background-image: colors.$winner-vignette;
}


/*------------------- Screen where Czar picks prompt ------------------*/
.pick-prompt-screen {
  section {
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: minmax(7em, 1fr) auto minmax(7em, 1fr);
    grid-column-gap: 2em;
    // Extra buttons on the side
    .controls {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .prompts-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
    }
  }
  footer {
    flex-direction: column;
    justify-content: flex-start;
    width: 10em;
    .play-button {
      width: 10em;
    }
  }
}


/*----------- Screen where player selects response cards --------------*/
.player-answering-container {
  gap: 1em;
}

/* Make sure the control row stays on the screen when you scroll down: */
.game-mid-row {
  position: sticky;
  top: 0;
  background-color: colors.$game-bg-color;
  background-image: colors.$game-bg-image;
  background-attachment: fixed;
  z-index: 10;
  padding: 0.5em 0;
}


/*---------------- Screen where responses are revealed ----------------*/
.card-reading-screen {
  header {
    margin-bottom: 1em;
  }
}


/*--------------------------- Winner screen ---------------------------*/
.winner-screen {
  // Contains 2 sections: winner and "audience choice"
  .sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
}
// Add height to fit winner's avatar (except on mobile):
.winner-section {
  header {
    @media (min-width: 550px) {
      height: 4.5em;
    }
  }
  .inline-avatar {
    margin-left: 0.5em;
  }
  &.audience-award-section {
    header {
      @media (min-width: 550px) {
        // TODO: make this alignment reliable
        padding-top: 0.6em;
      }
    }
  }
}