// This file combines all the styles together.

@use "colors.scss";
@use "sizes.scss";


// Required for Bootstrap
@import "bootstrap/scss/functions";

// Default variable overrides for Bootstrap
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// Required for Bootstrap
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


/*---------------------- Custom local stylesheets ---------------------*/

// Common components:
@import "components/layouts.scss";
@import "components/dropdown.scss";
@import "components/scrollbar.scss";
@import "components/checkbox.scss";
@import "components/select.scss";
@import "components/input.scss";
@import "components/modal.scss";
@import "components/icons.scss";
@import "components/text.scss";
@import "components/buttons.scss";
@import "components/avatars.scss";
@import "components/accordion.scss";
@import "components/tooltip.scss";
@import "components/spinner.scss";

// Main screens:
@import "login-screen.scss";
@import "lobby-screen.scss";
@import "game-screen.scss";
@import "scoreboard-screen.scss";
@import "admin-screen.scss";

// Lobby-screen-specific components:
@import "lobby-components/deck-selector.scss";

// Game-screen-specific components:
@import "game-components/answer-showcase.scss";
@import "game-components/cards.scss";
@import "game-components/minicards.scss";
@import "game-components/game-menu.scss";
@import "game-components/tag-exchange.scss";
@import "game-components/timer-bar.scss";
@import "game-components/timer-pie.scss";

// Admin components:
@import "admin-components/card-editor.scss";
@import "admin-components/admin-stats.scss";

// Final overrides for mobile:
@import "mobile.scss";


/*---------------------------- Root layout ---------------------------*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; // Usually hidden behind other components

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: auto;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: stretch;
  min-width: 320px;
  width: 100%;
  height: 100%;
}