// Required
@import "bootstrap/scss/functions";

// Default variable overrides
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


$accent-color: #ffc90f;
$like-color: #fc8181;

/*------------------------ Checkbox component ------------------------*/
// From https://codepen.io/alvarotrigo/pen/YzezaMR
.checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  // background: #fcfff4;
  // background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  // box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  border: 2px solid;
  border-radius: 4px;
  label {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    // background: linear-gradient(to bottom, #222 0%, #45484d 100%);
    // box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 3px;
      left: 3px;
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
      box-sizing: content-box;
    }
    &:hover::after {
      opacity: 0.4;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
    // Disabled state:
    &:disabled + label {
      cursor: default;
    }
    &:not(:checked):disabled + label:hover:after {
      opacity: 0;
    }
  }
}

/*------------------------- Select component ------------------------*/
/* Copied from Bootstrap and modified */
select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  line-height: 1.5;
  /* #dee2e6 */
  color: var(--bs-body-color);
  appearance: none;
  background-color: #11182744;
  background-image: var(--bs-form-select-bg-img);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 14px;
  border: 2px solid rgba(222, 226, 230, 0.5);
  border-radius: var(--bs-border-radius);
  &:focus,
  &:focus-visible {
    background-color: #11182788;
    border-color: #86b7fe;
    outline: 0;
    /* box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25); */
  }
  option {
    background-color: #323844;
  }
}


/*------------------------- Input component ------------------------*/
/* Copied from Bootstrap and modified */
input.control {
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: #11182744;
  background-clip: padding-box;
  border: 2px solid rgba(222, 226, 230, 0.5);
  border-radius: var(--bs-border-radius);
  &:focus,
  &:focus-visible {
    background-color: #11182788;
    border-color: #86b7fe;
    outline: 0;
  }
  option {
    background-color: #323844;
  }
}


/*------------------------- Modal component ------------------------*/
/* Similar to login-card */
.modal-card {
  padding: 1em;
  border-radius: 0.735rem;
  background-color: #2f3542;
  border-color: #374151;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  min-width: 18em;
  max-width: 60vw;
  min-height: 8em;
  max-height: 80vh;
  .modal-body {
    text-align: center;
    font-size: large;
    font-weight: 600;
  }
  footer {
    display: flex;
    gap: 1em;
    justify-content: center;
    button {
      width: 6em;
    }
  }
}


/*=========================== Lobby screen ===========================*/

.new-lobby-screen {
  header {
    text-align: center;
    &.lobby-settings {
      position: sticky;
      background-image: linear-gradient(to bottom, #494f5c, #858792);
      background-attachment: fixed;
      z-index: 1;
      bottom: 0;
    }
  }
  footer {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    // Mobile:
    @media (max-width: 25rem) {
      margin-bottom: 0.5em;
      margin-top: 1em;
    }
  }
}

.lobby-settings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25em;
  padding: 0.5em 2em;
  @media (max-width: 50rem) {
    display: flex;
    flex-direction: column;
  }
}
.lobby-settings-form-item {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 0.75em;
  align-items: center;
  min-height: 2.5em;
}

/*--------------------------- Player list ---------------------------*/
.player-card {
  margin: 0.5em 0;
  .card-body {
    padding: 0.5em 0.8em;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
  }
  &.empty {
    border-style: dashed;
    background-color: transparent;
    .card-body {
      opacity: 0.5;
    }
  }
  span.player-name {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .right-icon {
    margin-left: auto;
    margin-right: -0.2em;
  }
  .kick-button {
    mask-image: url(../assets/x_circle.svg);
    width: 24px;
    background-color: var(--bs-body-color);
    flex-shrink: 0;
    margin-right: -0.4em;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      mask-image: url(../assets/x_circle_filled.svg);
    }
  }
}


/*=========================== Game screens ===========================*/

/*----------------------------- Likes -----------------------------*/
.card-response, .many-cards {
  &:hover .like-response-button {
    opacity: 0.2;
  }
  .like-response-container {
    // Mobile: align right
    @media (max-width: 25rem) {
      justify-content: flex-end;
      padding: 1em;
    }
  }
  .like-response-button {
    width: 50%;
    height: 50%;
    opacity: 0;
    cursor: pointer;
    pointer-events: all;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.7;
    }
    .like-response-icon {
      color: $like-color;
      width: 100%;
      height: 100%;
    }
    // Mobile:
    @media (max-width: 25rem) {
      opacity: 0.3;
      height: 3em;
      width: 3em;
    }
  }

  .like-count-icon {
    color: $like-color;
  }
}

.star-icon-inline {
  color: $accent-color;
  margin-top: -0.2em;
}
.heart-icon-inline {
  color: $like-color;
  margin-top: -0.15em;
}