@use "colors.scss";

/*----------------------------- Winner screen -----------------------------*/
// Fix alignment with avatars:
.winner-section {
  header {
    @media (min-width: 550px) {
      height: 4.5em;
    }
  }
  .inline-avatar {
    margin-left: 0.5em;
  }
  &.audience-award-section {
    header {
      @media (min-width: 550px) {
        // TODO: make this alignment reliable
        padding-top: 0.6em;
      }
    }
  }
}
.winner-cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}